

/*========== Header ==========*/

header {
	background: white;/*url("../Images/whitewoodenfloor.png");*/
	top: 0;
	width: 100%;
}

h1 {
	color: #2e74b5;
	font-size: 50px;
	text-align: center;
}

h1 span {
	color: #2e74b5;
	font-size: 1.7em;
	text-align: center;
}
#index-heading{
	z-index: 200;
	height: 25em;
}

#fixed-heading, #all-heading{

	z-index: 150;
	position: fixed;
	/* width: 100%;
    top:0;*/
}

#fixed-heading h1, #all-heading h1{
    text-align:center;
    font-size:16px;
}

/*========== Footer ==========*/
footer {
	background: #2e74b5;
	height: 1.5em;
	bottom: 0em;
	width: 100%;
}

h5 {
	color: white;
	text-align: center;

}

/*========== Navigation ==========*/

nav {
	background: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	height: 3em;
	top: 30em;
	width: 100%;
	text-align: center;
	padding: 0.5em;
	z-index: 150;
}

nav div {
	display: inline-block;
	padding: 0.2em;
	margin: 0.5em;
	border-bottom: 3px solid #ffffff;
	-webkit-transition:border 0.2s ease-out;
    -moz-transition:border 0.2s ease-out;
    -o-transition:border 0.2s ease-out;
    -ms-transition:border 0.2s ease-out;
    transition:border 0.2s ease-out;

}

nav div a {
	color: #ffffff;
	text-decoration: none;
	font-size: 1.5em;
	padding: 1em;	
}

nav div a span {
	color: #ffffff;
	font-size: 1.7em;
}

nav div a img{
	max-height: 1.1em;
	justify-content: center;
	align-items: center;
}

#all-nav {
	top: 30px;
	position: fixed;
}

/*========== Every Page Body ==========*/

* {
	margin: 0;
	font-family: 'Dosis', sans-serif;
	color: #3F3F3F;
}

body {
	background-attachment: fixed;
}

.outer-border{
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
	width: 70%;
	text-align: center;
}

.description-box{
	background-color:rgba(255,255,255,0.8);
	text-align: justify;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
	max-width: 800px;
}

.description-box div {
	margin: 2em;
	padding: 1.5em;
}

.description-img{
	display: block;
	margin-left: auto;
    margin-right: auto; 
    padding: 1em;
    max-width: 95%;
    max-height: 35em;
}

.description-box div ol {
	padding-top: 1em;
}
.description-box div ol li {
	color: black;
	font-size: 1.4em;
}

p {
	color: black;
	font-size: 1.4em;
}

.cover-img{
	display: block;
	margin-left: auto;
    margin-right: auto; 
    width: 100%;
}

/*========== Only Home Page ==========*/
hr {
	border-color: #2e74b5;
}
.home-page-subbox {
	/*text-align:center;*/
}

.home-page-subbox-test{
	padding: 10px;
    overflow: hidden;
    display: inline-block;
    margin: 0 auto;
}

.darken-home-img{
	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
	position: absolute;
	background: black;
	width: 400px;
	height: 240px;
	z-index: 50;
	opacity: 0;

    -webkit-transition:opacity 0.5s ease-in-out;
    -moz-transition:opacity 0.5s ease-in-out;
    -o-transition:opacity 0.5s ease-in-out;
    -ms-transition:opacity 0.5s ease-in-out;
    transition:opacity 0.5s ease-in-out;
}

.darken-home-img:hover{
	opacity: 0.6;
}

h2 { 	/* HOME SUBBOX TEXT */
	text-align: center;
	font-size: 3em;
	color: black;
	padding: 20px;
}
h2 span {
	font-size: 0.5em;
}

/*.home-img{
	display: block;

	margin-left: auto;
    margin-right: auto;
	max-height: 20em;
	padding: 1em;
	/*min-width: 10em;
	
}*/

.home-img-test{
	
	display: inline-block;
	width: 400px;
	height: 240px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);

	
	/*max-height: 8em;*/
}

.home-hover-img {
    left: 0; 
  	right: 0; 
	display: block;

	margin-left: auto;
    margin-right: auto;
	max-height: 20em;
	padding: 1em;
	position:absolute;
  	z-index: 50;
  	opacity: 0.6;
    -webkit-transition:opacity 0.5s ease-out;
    -moz-transition:opacity 0.5s ease-out;
    -o-transition:opacity 0.5s ease-out;
    -ms-transition:opacity 0.5s ease-out;
    transition:opacity 0.5s ease-out
}

.home-hover-img-test{
	display: inline-block;

	margin-left: auto;
    margin-right: auto;
    max-height: 20em;
    padding: 1em;
	position:absolute;
	z-index: 50;
  	opacity: 0.6;
    -webkit-transition:opacity 0.5s ease-out;
    -moz-transition:opacity 0.5s ease-out;
    -o-transition:opacity 0.5s ease-out;
    -ms-transition:opacity 0.5s ease-out;
    transition:opacity 0.5s ease-out
}

.home-a{
	
	position: relative;
}


.hover-text{
    z-index: 100;
    position: absolute;
    font-size:20px;
    color: white;

    text-align: center;
    width: 100%;
    left:0;

    margin-top: 4em;
    margin-left: -0.75em;
    /*text-decoration: none;*/
}

.hover-text span {
	font-size: 15px;
	color: white;
}

.hover-text-test{ /* still needs to be fixed*/
	position: absolute;
	z-index: 100;
    color: #ffffff;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -365%);
}

/*========== All the Other Pages ==========*/

.testthree{
	margin-right: auto;
	margin-left: auto;
	width: 70%;
}



.testtwo{
	margin-right: auto;
	margin-left: auto;
	width: 70%;
}


#blank-div{
	height: 5em;
	width: 100%;
}




h4 { 	/* SUB HEADER HEADING*/
	font-size: 1.5em;
	text-align: center;
	color: #2e74b5;
}

/*========== Google Fonts ==========*/

/*@font-face{
    font-family:  sans-serif;
    src: url(https://fonts.googleapis.com/css?family=Dosis);
}

	
@font-face{
    font-family: 'Lato';
    src: url(http://fonts.googleapis.com/css?family=Lato:100);
}*/